* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

nav {
  color: white;
  background-color: #F55A5A;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img{
  width: 30px;
  height: auto;
  padding-right: .5rem;
}

section{
  margin-top: 45px;
  align-items: center;
}

.card{
  display: flex;
  justify-content: center;
  margin: 1em 0;

}

.card-image{
  width: 125px;
  margin-right: 1.25em;
}

.icon-map {
  width: 0.8em;
  margin-right: 0.5em;
}

.get-location{
  font-size: .75rem;
  letter-spacing: 0.2rem;
  padding: 0 0.8rem 0 0;
}
.get-map{
   color: #918E9B;
}

.card-title{
  font-size: 1.875rem;
  font-weight: bold;
}

.card-text {
  width: 346px;
  font-size: .75rem;
  color: #2B283A;
  text-align: left;

}
.date {
  font-size: .75rem;
  font-weight: bold;
}

hr {
  width: 490px;
  border: 1px solid #F5F5F5;
}